<app-navbar></app-navbar>

<!-- MatCard to dispaly questions -->
<div class="quiz-card" *ngIf="quizService.qns">
    <mat-card>


        <mat-card-header >
            <mat-card-title class="quiz-title"><h3>Question #: {{ quizService.qnProgress + 1 }}</h3></mat-card-title>
        </mat-card-header>

        <mat-card-content >

            <div class="quiz-content">
                <p>{{ quizService.qns[quizService.qnProgress].qn }}</p>
            </div>

  

            <div class="quiz-options" >
                <ul *ngFor="let option of quizService.qns[quizService.qnProgress].options; let i = index">
                    <li *ngIf = "option != null" 
                    (click)="Answer(quizService.qns[quizService.qnProgress].qnID, i)"
                    >
                        {{option}}
                    </li>
                </ul>
            </div>



          </mat-card-content> 


    </mat-card>
</div>

